{
  "root": false,
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": 0
  },
  "globals": {
    "google": true
  }
}
